.mat-card {
    max-width: 100%;
    background-color: #ddd;
    padding: 0px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .mat-card-header-text{
    display: none !important;
  }
  .mat-card-header{
      padding-top: 10px;
      padding-bottom: 10px;
      color: #666;
      text-align: left;
  }
  .mat-card-content{
    background-color: white;
  }